// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray     : #969896;
@gray           : #2D2A2E;
@dark-gray      : #272427;
@very-dark-gray : #191919;

@cyan        : #6DCFF9;
@blue        : #92cbec;
@purple      : #B0A1FF;
@green       : #B4EF78;
@red         : #FF5B79;
@orange      : #FC9867;
@light-orange: #FFD952;
